<div class="col-md-12">
  <h2 class="heading"> Customer's Details</h2>
  <div class="table-responsive table-container">
    <table class="table" border="20px">
      <thead>
        <tr>
          <th class="tableheading">Id</th>
          <th class="tableheading">Name</th>
          <th class="tableheading">Age</th>
          <th class="tableheading">Address</th>
          <th class="tableheading">Email</th>
          <th class="tableheading">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data">
          <td class="hidden">{{d.id}}</td>
          <td>{{d.name}}</td>
          <td>{{d.age}}</td>
          <td>{{d.address}}</td>
          <td>{{d.email}}</td>
          <td>
            <button (click)="delete(d.id)" class="button"> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<h2 class="heading">
  Add Customer
</h2>
<div>
  <input #Name type='text' placeholder='Name' class="text">
  <input #Age type='number' placeholder='Age' class="text">
  <input #Address type='text' placeholder='Address' class="text">
  <input #Email type='text' placeholder='Email' class="text">
  <button (click)="add(Name.value,Age.value,Address.value,Email.value)" class="button">ADD</button>
</div>
<h2 class="heading">
  Update
</h2>
<h3 class="heading">
  Enter Name of customer:
  <input #name class="text" type="text" placeholder="Name">
  <button (click)="search(name.value)" class="button">Search</button>
</h3>

<div *ngFor="let s of selected_data" [hidden]="isHidden">
  <div *ngIf="selected_data.length >0 ;else elseBlock">
    <input #Name class="text" type='text' placeholder='Name' value="{{s.name}}" class="text">
    <input #Age type='number' placeholder='Age' value="{{s.age}}" class="text">
    <input #Address type='text' placeholder='Address' value="{{s.address}}" class="text">
    <input #Email type='text' placeholder='Email' value="{{s.email}}" class="text">
    <button (click)="update(s.id,Name.value,Age.value,Address.value,Email.value)" class="button">Update</button>
  </div>
  <ng-template #elseBlock>
    <p>not Found</p>
  </ng-template>
</div>